* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
}

/* main-content styles */

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about styles */

.about {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #080000;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #080000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  max-width: 600px;
}

/* projects styles*/

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #080000;
  margin-bottom: 10px;
}

.projects-list {
  padding-left: 18px;
}

.project-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #080000;
}

.project,
.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  margin-left: 10px;
}

.project-bracket {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #080000;
}

/* work styles*/
.work {
  margin-bottom: 50px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 16px;
}

.work-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education styles */

.university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.degree {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}

.education-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 20px;
}

/* sidebar styles */

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills,
.hobbies,
.languages {
  padding-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact-type {
  color: #ffffff;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-type.icon {
  width: 24px;
  height: 24px;
}

.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.tech-skills-list,
.soft-skills-list,
.hobbies-list {
  color: #fff;
  padding: 0;
  margin-left: 17px;
}

.tech-skills-item,
.soft-skills-item,
.hobbies-item {
  color: #fb6d3a;
}

.tech-skills-text,
.soft-skills-text,
.hobbies-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tech-skills {
  margin-bottom: 45px;
}

.soft-skills {
  margin-bottom: 45px;
}

.hobbies {
  margin-bottom: 45px;
}

.languages {
  width: 260px;
  margin-bottom: 60px;
}

.language-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.language-level {
  color: rgba(49, 53, 60, 0.8);
  background-color: #fb6d3a;
  border: 0;
  width: 150px;
  height: 7px;
  border-radius: 9px;
}

/* NON BROWSER SPECIFIC*/
.language-level {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
/* FOR WEBKIT BROWSERS*/
.language-level::-webkit-progress-bar {
  background-color: rgba(49, 53, 60, 0.8);
  border-radius: 9px;
}

.language-level::-webkit-progress-value {
  background-color: #fb6d3a;
  border-radius: 9px;
}
/* FOR FIREFOX */
.language-level::-moz-progress-bar {
  background-color: #fb6d3a;
  border-radius: 9px;
}
